<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title> E-Pharmacie</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">&#9776;</button>
                    <a href="index.html">e-pharmacie</a>
                </div>
                <div class="header-links">
                    <a href="cart.html"> Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <!--create an event-->
            <aside class="sidebar">
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="index.html">Pharmacie</a>
                    </li>
                    <li>
                        <a href="index.html">Bien-etre Nutrition</a>
                    </li>
                    <li>
                        <a href="index.html">Beauté Soins</a>
                    </li>
                    <li>
                        <a href="index.html">Hygiène Premiers soins</a>
                    </li>
                    <li>
                        <a href="index.html">Bébé Maman</a>
                    </li>
                    <li>
                        <a href="index.html">Bio Médecines naturelles</a>
                    </li>
                    <li>
                        <a href="index.html">Matériel Médical</a>
                    </li>
                    <li>
                        <a href="index.html">Promotion</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products"> 
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-Image" src="https://images.lasante.net/12283-85374-large.jpg" alt="DolipraneLiquiz Enfants 300 mg - 12 Sachets">
                                <div class="product-name">
                                    <a href="product.html">DolipraneLiquiz Enfants 300 mg - 12 Sachets</a>
                                </div>
                                <div class ="product-description">Médicament - Allopathie</div>
                                <div class="product-price">3.32$</div>
                                <div class="ranking">4.5 stars (10 Reviews)</div>

                            </div>
                        </li>
                        
                    </ul>

                </div>
                
            </main>
            <footer class="footer">
                All right reserved 
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open")
            }
            function closeMenu() {
                document.querySelector(".sidebar").classList.remove("open")
            }
        </script>
    </body>
</html>